.settings/
.buildpath
.project
provision/.vagrant/machines/default/virtualbox/action_provision
provision/.vagrant/machines/default/virtualbox/synced_folders
provision/php-cli.ini
provision/php.ini
provision/.vagrant/machines/default/virtualbox/action_set_name
provision/.vagrant/
screenshots/
/deploy.sh
environments/prod/
node_modules
!/nodeserver/public/u/*
!/nodeserver/public/l/*
db.json
.vagrant
params.json
params*.js*
.*
dist/
sessions/
!.gitignore
!.codeclimate.yml
errorShots/
*.log
coverage/
nodeserver/public/docs